ignore.txt
>올리고 싶지 않은 파일을 지정할 수 있다.버전 관리하지 않을 파일.
README.md
>해당 X
commit_practice
>이미 올라간 파일의 경우, 적용 되지 않음.



>사용되는 예시
>유료화된 KEY 또는 보안이 필요한 자료의 경우 깃 허브에 공유되어선 안된다.
>시작할 때부터 따로 관리할 수 있다.


accountlist.txt
